@import "compass";


$color-blue-navy: #004983;
$color-blue-powder: #3498db;
$color-crimson: #930D18;
$color-gold: #b89b00;
$color-green-dark: #235800;
$color-green-light: #00B16A;
$color-grey: #C4C4C4;
$color-maroon: #800000;
$color-orange: #FFA319;
$color-purple: #553679;
$color-red: #E60000;
$color-yellow: #FFE800;
$color-black: #191919;
$color-light-black: #222;
$color-light-grey: #E4E4E4;

$masthead-black: rgba(0, 0, 0, 0.5);
$masthead-blue: rgba(42,196,234,0.5);
$masthead-green: rgba(26, 188, 104, 0.5);
$masthead-grey: rgba(201, 201, 201, 0.5);
$masthead-maroon: rgba(97, 0, 0, 0.5);
$masthead-navy: rgba(0, 0, 218, 0.5);
$masthead-orange: rgba(255,129,0,0.5);
$masthead-purple: rgba(131, 22, 250, 0.5);
$masthead-red: rgba(255, 0, 0, 0.5);
$masthead-yellow: rgba(240,183,12,0.5);

