$FontAwesomePath: "aui/alloy-font-awesome/font" !default;

@import "aui/alloy-font-awesome/scss/variables";
@import "aui/alloy-font-awesome/scss/mixins-alloy";
@import "aui/alloy-font-awesome/scss/path-alloy";

.aui {
	@import "redefined/sass-bootstrap";
	@import "aui/alloy-font-awesome/scss/core";
	@import "aui/alloy-font-awesome/scss/bootstrap";
	@import "aui/alloy-font-awesome/scss/extras";
	@import "aui/alloy-font-awesome/scss/icons-alloy";
	@import "aui/alloy-font-awesome/scss/icons-alloy-extra";
}