@import "compass";
@import "mixins";

@import url(./redefined.css);
@import url(./color-schemes.css);
@import url(./custom-dockbar.css);

#inner-nav.opened {
display: block !important;
margin-top: 20px;
}
#inner-nav.opened > ul {
float:none !important;
background: #fff;

}
#inner-nav.opened > ul > li {
width:100%;
background: #fff;
}
#inner-nav.opened > ul > li > a {
padding-left: 40px;
padding-top: 0px !important;
padding-bottom: 0px !important;
margin-top: 0px !important;
margin-bottom: 0px !important;
font-size: 12px !important;
line-height:30px !important;
transition: none;
-webkit-transition: none;
}
@media screen and (max-width: 600px) {
.pageheader-default {
margin-top: 50px !important;
}
#main-nav {
padding-top: 2px !important;
padding-bottom: 2px !important;
}
#main-nav .navbar-brand {
margin-top: 10px;
font-size: 16px;
}

}

.js-nav-active body {
overflow:hidden;
position: fixed;
}


#nav-toggle {
background-color:#fff;
padding: 6px !important;
cursor: pointer;
}
.js-nav-active .navbar-header {
opacity: .4;
}

.js .nav-collapse-0.opened {
max-height:200px !important;
}

.mask {

  background: rgba(0,0,0,.7);
  visibility: hidden;
  position: fixed;
  opacity: 0;
  z-index: 999;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  overflow:hidden;
  width:100%;
  height:100%;
}
.js-nav-active .mask{
 visibility: visible;
  opacity: 1;
}
@media screen and (min-width: 40em) {
  .mask {
    display: none !important;
    opacity: 0 !important;
  }
}