.light header.redefined {
  background: #fff; }
.light h1.navbar-brand_ span {
  color: #777; }
.light h1.navbar-brand_ span small {
  font-size: 50%; }
.light nav.tm_navbar li a {
  color: #999; }
.light nav.tm_navbar li > a:hover {
  color: #e4e4e4; }
.light nav.tm_navbar li.active > a {
  color: #e4e4e4;
  background: transparent;
  border-bottom: 6px solid #ccc; }
.light .copyright {
  background-color: #CCC; }
.light .copyright p {
  color: #777; }
.light .sub_pic {
  border-bottom: 1px solid #eaebee; }
.light footer {
  background: #f1f1f1;
  border-top: 1px solid #eaebee; }
.light footer {
  background-image: url(/Redefined-theme/images/bg-footer-light.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain; }
.light footer h1.footer-brand {
  color: #777; }
.light footer p {
  color: #666; }
.light footer a {
  color: #666; }
.light nav.tm_navbar li.active > a {
  color: #e4e4e4;
  background: transparent;
  border-bottom: 6px solid #ccc; }
.light #nav-toggle {
  background-color: transparent;
  color: #bbb;
  border: none;
  border-color: transparent; }
.light .menuBox {
  background: #FFF;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18); }
.light .menuBox.box-static {
  background: rgba(235, 235, 235, 0.87) !important;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18); }
@media (max-width: 767px) {
  .light #inner-nav.opened > ul {
    border-top: 1px solid #ccc; } }
