.secondary-blue-powder a:hover {
  color: #3498db; }
.secondary-blue-powder h1.navbar-brand_ strong {
  background: #3498db; }
.secondary-blue-powder nav.tm_navbar li.active > a {
  border-bottom: 6px solid #3498db;
  color: #3498db; }
.secondary-blue-powder nav.tm_navbar li > a:hover {
  color: #3498db;
  border-bottom: 6px solid #3498db; }
.secondary-blue-powder .nav .open > a,
.secondary-blue-powder .nav .open > a:hover,
.secondary-blue-powder .nav .open > a:focus {
  border-color: #3498db; }
.secondary-blue-powder .theme-btn {
  color: #fff;
  background-color: #3498db;
  border-color: #3498db; }
.secondary-blue-powder .btn-default:hover, .secondary-blue-powder .btn-default:focus {
  color: #3498db;
  background-color: #fff;
  border-color: #3498db; }
.secondary-blue-powder .btn-primary:hover, .secondary-blue-powder .btn-primary:focus, .secondary-blue-powder .btn-primary:active, .secondary-blue-powder .btn-primary.active, .secondary-blue-powder .open .btn-primary.dropdown-toggle {
  color: white;
  background-color: #3498db;
  border-color: #3498db; }
.secondary-blue-powder .btn-primary {
  color: #3498db;
  background-color: transparent;
  border: 1px solid #3498db; }
.secondary-blue-powder .hr span {
  background: #3498db; }
.secondary-blue-powder .theme-color {
  color: #3498db; }
.secondary-blue-powder .portlet-title {
  color: #3498db; }
.secondary-blue-powder .copyright {
  background-color: #3498db; }
.secondary-blue-powder .copyright p {
  color: #bbb; }
.secondary-blue-powder .copyright a {
  color: #bbb; }

