.secondary-green-light a:hover {
  color: #00b16a; }
.secondary-green-light h1.navbar-brand_ strong {
  background: #00b16a; }
.secondary-green-light nav.tm_navbar li.active > a {
  border-bottom: 6px solid #00b16a;
  color: #00b16a; }
.secondary-green-light nav.tm_navbar li > a:hover {
  color: #00b16a;
  border-bottom: 6px solid #00b16a; }
.secondary-green-light .nav .open > a,
.secondary-green-light .nav .open > a:hover,
.secondary-green-light .nav .open > a:focus {
  border-color: #00b16a; }
.secondary-green-light .theme-btn {
  color: #fff;
  background-color: #00b16a;
  border-color: #00b16a; }
.secondary-green-light .btn-default:hover, .secondary-green-light .btn-default:focus {
  color: #00b16a;
  background-color: #fff;
  border-color: #00b16a; }
.secondary-green-light .btn-primary:hover, .secondary-green-light .btn-primary:focus, .secondary-green-light .btn-primary:active, .secondary-green-light .btn-primary.active, .secondary-green-light .open .btn-primary.dropdown-toggle {
  color: white;
  background-color: #00b16a;
  border-color: #00b16a; }
.secondary-green-light .btn-primary {
  color: #00b16a;
  background-color: transparent;
  border: 1px solid #00b16a; }
.secondary-green-light .hr span {
  background: #00b16a; }
.secondary-green-light .theme-color {
  color: #00b16a; }
.secondary-green-light .portlet-title {
  color: #00b16a; }
.secondary-green-light .copyright {
  background-color: #00b16a; }
.secondary-green-light .copyright p {
  color: #bbb; }
.secondary-green-light .copyright a {
  color: #bbb; }
.secondary-green-light .btn-primary {
  color: #00b16a;
  border: 1px solid #00b16a; }
@media (max-width: 767px) {
  .secondary-green-light nav.tm_navbar li.active > a {
    border-bottom: none;
    color: #00b16a; } }
