.secondary-grey a:hover {
  color: #c4c4c4; }
.secondary-grey h1.navbar-brand_ strong {
  background: #c4c4c4; }
.secondary-grey nav.tm_navbar li.active > a {
  border-bottom: 6px solid #c4c4c4;
  color: #c4c4c4; }
.secondary-grey nav.tm_navbar li > a:hover {
  color: #c4c4c4;
  border-bottom: 6px solid #c4c4c4; }
.secondary-grey .nav .open > a,
.secondary-grey .nav .open > a:hover,
.secondary-grey .nav .open > a:focus {
  border-color: #c4c4c4; }
.secondary-grey .theme-btn {
  color: #fff;
  background-color: #c4c4c4;
  border-color: #c4c4c4; }
.secondary-grey .btn-default:hover, .secondary-grey .btn-default:focus {
  color: #c4c4c4;
  background-color: #fff;
  border-color: #c4c4c4; }
.secondary-grey .btn-primary:hover, .secondary-grey .btn-primary:focus, .secondary-grey .btn-primary:active, .secondary-grey .btn-primary.active, .secondary-grey .open .btn-primary.dropdown-toggle {
  color: white;
  background-color: #c4c4c4;
  border-color: #c4c4c4; }
.secondary-grey .btn-primary {
  color: #c4c4c4;
  background-color: transparent;
  border: 1px solid #c4c4c4; }
.secondary-grey .hr span {
  background: #c4c4c4; }
.secondary-grey .theme-color {
  color: #c4c4c4; }
.secondary-grey .portlet-title {
  color: #c4c4c4; }
.secondary-grey .copyright {
  background-color: #c4c4c4; }
.secondary-grey .copyright p {
  color: #eee; }
.secondary-grey .copyright a {
  color: #eee; }

