.secondary-orange a:hover {
  color: #ffa319; }
.secondary-orange h1.navbar-brand_ strong {
  background: #ffa319; }
.secondary-orange nav.tm_navbar li.active > a {
  border-bottom: 6px solid #ffa319;
  color: #ffa319; }
.secondary-orange nav.tm_navbar li > a:hover {
  color: #ffa319;
  border-bottom: 6px solid #ffa319; }
.secondary-orange .nav .open > a,
.secondary-orange .nav .open > a:hover,
.secondary-orange .nav .open > a:focus {
  border-color: #ffa319; }
.secondary-orange .theme-btn {
  color: #fff;
  background-color: #ffa319;
  border-color: #ffa319; }
.secondary-orange .btn-default:hover, .secondary-orange .btn-default:focus {
  color: #ffa319;
  background-color: #fff;
  border-color: #ffa319; }
.secondary-orange .btn-primary:hover, .secondary-orange .btn-primary:focus, .secondary-orange .btn-primary:active, .secondary-orange .btn-primary.active, .secondary-orange .open .btn-primary.dropdown-toggle {
  color: white;
  background-color: #ffa319;
  border-color: #ffa319; }
.secondary-orange .btn-primary {
  color: #ffa319;
  background-color: transparent;
  border: 1px solid #ffa319; }
.secondary-orange .hr span {
  background: #ffa319; }
.secondary-orange .theme-color {
  color: #ffa319; }
.secondary-orange .portlet-title {
  color: #ffa319; }
.secondary-orange .copyright {
  background-color: #ffa319; }
.secondary-orange .copyright p {
  color: #eee; }
.secondary-orange .copyright a {
  color: #eee; }
.secondary-orange .btn-primary {
  color: #ffa319;
  border: 1px solid #ffa319; }
@media (max-width: 767px) {
  .secondary-orange nav.tm_navbar li.active > a {
    border-bottom: none;
    color: #ffa319; } }
