.light header.redefined {
  background: #fff; }
.light h1.navbar-brand_ span {
  color: #777; }
.light h1.navbar-brand_ span small {
  font-size: 50%;
  opacity: .7; }
.light .menuBox {
  background: #FFF; }
.light nav.tm_navbar li a {
  color: #999; }
.light nav.tm_navbar li > a:hover {
  color: #e4e4e4; }
.light nav.tm_navbar li.active > a {
  color: #e4e4e4;
  background: transparent;
  border-bottom: 6px solid #ccc; }
.light .copyright {
  background-color: #CCC; }
.light .copyright p {
  color: #777; }
.light .sub_pic {
  border-bottom: 1px solid #eaebee; }
.light footer {
  background: #FFF;
  border-top: 1px solid #eaebee; }
.light footer {
  background-image: url(/Redefined-theme/images/bg-footer-light.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain; }
.light footer h1.footer-brand {
  color: #777; }
.light footer p {
  color: #666; }
.light footer a {
  color: #666; }
.light nav.tm_navbar li.active > a {
  color: #e4e4e4;
  background: transparent;
  border-bottom: 6px solid #ccc; }
.light #nav-toggle {
  background-color: transparent;
  color: #bbb;
  border: none;
  border-color: transparent; }

.dark header.redefined {
  background: #191919; }
.dark h1.navbar-brand_ span {
  color: #eee; }
.dark h1.navbar-brand_ span small {
  font-size: 50%;
  opacity: .7; }
.dark .menuBox {
  background: #222222;
  border-top: 1px solid #333; }
.dark nav.tm_navbar li a {
  color: #7D7D7D; }
.dark nav.tm_navbar li > a:hover {
  color: #e4e4e4; }
.dark nav.tm_navbar li.active > a {
  color: #e4e4e4;
  background: transparent;
  border-bottom: 6px solid #ccc; }
.dark .copyright {
  background-color: #222222; }
.dark .copyright p {
  color: #777; }
.dark .sub_pic {
  border-bottom: 1px solid #666; }
.dark footer {
  background: #191919;
  border-top: 1px solid #666; }
.dark footer {
  background-image: url(/Redefined-theme/images/bg-footer-dark.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain; }
.dark footer h1.footer-brand {
  color: #555; }
.dark nav.tm_navbar li a {
  color: #7D7D7D; }
.dark nav.tm_navbar li.active > a {
  color: #e4e4e4;
  background: transparent;
  border-bottom: 6px solid #ccc; }
.dark #nav-toggle {
  background-color: transparent;
  color: #eee;
  border: none;
  border-color: transparent; }

.secondary-blue-navy a:hover {
  color: #004983; }
.secondary-blue-navy h1.navbar-brand_ strong {
  background: #004983; }
.secondary-blue-navy nav.tm_navbar li.active > a {
  border-bottom: 6px solid #004983;
  color: #004983; }
.secondary-blue-navy nav.tm_navbar li > a:hover {
  color: #004983;
  border-bottom: 6px solid #004983; }
.secondary-blue-navy .nav .open > a,
.secondary-blue-navy .nav .open > a:hover,
.secondary-blue-navy .nav .open > a:focus {
  border-color: #004983; }
.secondary-blue-navy .theme-btn {
  color: #fff;
  background-color: #004983;
  border-color: #004983; }
.secondary-blue-navy .btn-default:hover, .secondary-blue-navy .btn-default:focus {
  color: #004983;
  background-color: #fff;
  border-color: #004983; }
.secondary-blue-navy .btn-primary:hover, .secondary-blue-navy .btn-primary:focus, .secondary-blue-navy .btn-primary:active, .secondary-blue-navy .btn-primary.active, .secondary-blue-navy .open .btn-primary.dropdown-toggle {
  color: white;
  background-color: #004983;
  border-color: #004983; }
.secondary-blue-navy .btn-primary {
  color: #004983;
  background-color: transparent;
  border: 1px solid #004983; }
.secondary-blue-navy .hr span {
  background: #004983; }
.secondary-blue-navy .theme-color {
  color: #004983; }
.secondary-blue-navy .portlet-title {
  color: #004983; }
.secondary-blue-navy .copyright {
  background-color: #004983; }
.secondary-blue-navy .copyright p {
  color: #999; }
.secondary-blue-navy .copyright a {
  color: #999; }

.secondary-blue-powder a:hover {
  color: #3498db; }
.secondary-blue-powder h1.navbar-brand_ strong {
  background: #3498db; }
.secondary-blue-powder nav.tm_navbar li.active > a {
  border-bottom: 6px solid #3498db;
  color: #3498db; }
.secondary-blue-powder nav.tm_navbar li > a:hover {
  color: #3498db;
  border-bottom: 6px solid #3498db; }
.secondary-blue-powder .nav .open > a,
.secondary-blue-powder .nav .open > a:hover,
.secondary-blue-powder .nav .open > a:focus {
  border-color: #3498db; }
.secondary-blue-powder .theme-btn {
  color: #fff;
  background-color: #3498db;
  border-color: #3498db; }
.secondary-blue-powder .btn-default:hover, .secondary-blue-powder .btn-default:focus {
  color: #3498db;
  background-color: #fff;
  border-color: #3498db; }
.secondary-blue-powder .btn-primary:hover, .secondary-blue-powder .btn-primary:focus, .secondary-blue-powder .btn-primary:active, .secondary-blue-powder .btn-primary.active, .secondary-blue-powder .open .btn-primary.dropdown-toggle {
  color: white;
  background-color: #3498db;
  border-color: #3498db; }
.secondary-blue-powder .btn-primary {
  color: #3498db;
  background-color: transparent;
  border: 1px solid #3498db; }
.secondary-blue-powder .hr span {
  background: #3498db; }
.secondary-blue-powder .theme-color {
  color: #3498db; }
.secondary-blue-powder .portlet-title {
  color: #3498db; }
.secondary-blue-powder .copyright {
  background-color: #3498db; }
.secondary-blue-powder .copyright p {
  color: #bbb; }
.secondary-blue-powder .copyright a {
  color: #bbb; }

.secondary-crimson a:hover {
  color: #930d18; }
.secondary-crimson h1.navbar-brand_ strong {
  background: #930d18; }
.secondary-crimson nav.tm_navbar li.active > a {
  border-bottom: 6px solid #930d18;
  color: #930d18; }
.secondary-crimson nav.tm_navbar li > a:hover {
  color: #930d18;
  border-bottom: 6px solid #930d18; }
.secondary-crimson .nav .open > a,
.secondary-crimson .nav .open > a:hover,
.secondary-crimson .nav .open > a:focus {
  border-color: #930d18; }
.secondary-crimson .theme-btn {
  color: #fff;
  background-color: #930d18;
  border-color: #930d18; }
.secondary-crimson .btn-default:hover, .secondary-crimson .btn-default:focus {
  color: #930d18;
  background-color: #fff;
  border-color: #930d18; }
.secondary-crimson .btn-primary:hover, .secondary-crimson .btn-primary:focus, .secondary-crimson .btn-primary:active, .secondary-crimson .btn-primary.active, .secondary-crimson .open .btn-primary.dropdown-toggle {
  color: white;
  background-color: #930d18;
  border-color: #930d18; }
.secondary-crimson .btn-primary {
  color: #930d18;
  background-color: transparent;
  border: 1px solid #930d18; }
.secondary-crimson .hr span {
  background: #930d18; }
.secondary-crimson .theme-color {
  color: #930d18; }
.secondary-crimson .portlet-title {
  color: #930d18; }
.secondary-crimson .copyright {
  background-color: #930d18; }
.secondary-crimson .copyright p {
  color: #999; }
.secondary-crimson .copyright a {
  color: #999; }

.secondary-gold a:hover {
  color: #b89b00; }
.secondary-gold h1.navbar-brand_ strong {
  background: #b89b00; }
.secondary-gold nav.tm_navbar li.active > a {
  color: #b89b00;
  border-bottom: 6px solid #b89b00; }
.secondary-gold nav.tm_navbar li > a:hover {
  color: #b89b00;
  border-bottom: 6px solid #b89b00; }
.secondary-gold .nav .open > a,
.secondary-gold .nav .open > a:hover,
.secondary-gold .nav .open > a:focus {
  border-color: #b89b00; }
.secondary-gold .theme-btn {
  color: #fff;
  background-color: #b89b00;
  border-color: #b89b00; }
.secondary-gold .btn-default:hover, .secondary-gold .btn-default:focus {
  color: #b89b00;
  background-color: #fff;
  border-color: #b89b00; }
.secondary-gold .btn-primary:hover, .secondary-gold .btn-primary:focus, .secondary-gold .btn-primary:active, .secondary-gold .btn-primary.active, .secondary-gold .open .btn-primary.dropdown-toggle {
  color: white;
  background-color: #b89b00;
  border-color: #b89b00; }
.secondary-gold .btn-primary {
  color: #b89b00;
  background-color: transparent;
  border: 1px solid #b89b00; }
.secondary-gold .hr span {
  background: #b89b00; }
.secondary-gold .theme-color {
  color: #b89b00; }
.secondary-gold .portlet-title {
  color: #b89b00; }
.secondary-gold .copyright {
  background-color: #b89b00; }
.secondary-gold .copyright p {
  color: #bbb; }
.secondary-gold .copyright a {
  color: #bbb; }

.secondary-green-dark a:hover {
  color: #235800; }
.secondary-green-dark h1.navbar-brand_ strong {
  background: #235800; }
.secondary-green-dark nav.tm_navbar li.active > a {
  border-bottom: 6px solid #235800;
  color: #235800; }
.secondary-green-dark nav.tm_navbar li > a:hover {
  color: #235800;
  border-bottom: 6px solid #235800; }
.secondary-green-dark .nav .open > a,
.secondary-green-dark .nav .open > a:hover,
.secondary-green-dark .nav .open > a:focus {
  border-color: #235800; }
.secondary-green-dark .theme-btn {
  color: #fff;
  background-color: #235800;
  border-color: #235800; }
.secondary-green-dark .btn-default:hover, .secondary-green-dark .btn-default:focus {
  color: #235800;
  background-color: #fff;
  border-color: #235800; }
.secondary-green-dark .btn-primary:hover, .secondary-green-dark .btn-primary:focus, .secondary-green-dark .btn-primary:active, .secondary-green-dark .btn-primary.active, .secondary-green-dark .open .btn-primary.dropdown-toggle {
  color: white;
  background-color: #235800;
  border-color: #235800; }
.secondary-green-dark .btn-primary {
  color: #235800;
  background-color: transparent;
  border: 1px solid #235800; }
.secondary-green-dark .hr span {
  background: #235800; }
.secondary-green-dark .theme-color {
  color: #235800; }
.secondary-green-dark .portlet-title {
  color: #235800; }
.secondary-green-dark .copyright {
  background-color: #235800; }
.secondary-green-dark .copyright p {
  color: #999; }
.secondary-green-dark .copyright a {
  color: #999; }

.secondary-green-light a:hover {
  color: #00b16a; }
.secondary-green-light h1.navbar-brand_ strong {
  background: #00b16a; }
.secondary-green-light nav.tm_navbar li.active > a {
  border-bottom: 6px solid #00b16a;
  color: #00b16a; }
.secondary-green-light nav.tm_navbar li > a:hover {
  color: #00b16a;
  border-bottom: 6px solid #00b16a; }
.secondary-green-light .nav .open > a,
.secondary-green-light .nav .open > a:hover,
.secondary-green-light .nav .open > a:focus {
  border-color: #00b16a; }
.secondary-green-light .theme-btn {
  color: #fff;
  background-color: #00b16a;
  border-color: #00b16a; }
.secondary-green-light .btn-default:hover, .secondary-green-light .btn-default:focus {
  color: #00b16a;
  background-color: #fff;
  border-color: #00b16a; }
.secondary-green-light .btn-primary:hover, .secondary-green-light .btn-primary:focus, .secondary-green-light .btn-primary:active, .secondary-green-light .btn-primary.active, .secondary-green-light .open .btn-primary.dropdown-toggle {
  color: white;
  background-color: #00b16a;
  border-color: #00b16a; }
.secondary-green-light .btn-primary {
  color: #00b16a;
  background-color: transparent;
  border: 1px solid #00b16a; }
.secondary-green-light .hr span {
  background: #00b16a; }
.secondary-green-light .theme-color {
  color: #00b16a; }
.secondary-green-light .portlet-title {
  color: #00b16a; }
.secondary-green-light .copyright {
  background-color: #00b16a; }
.secondary-green-light .copyright p {
  color: #bbb; }
.secondary-green-light .copyright a {
  color: #bbb; }

.secondary-grey a:hover {
  color: #c4c4c4; }
.secondary-grey h1.navbar-brand_ strong {
  background: #c4c4c4; }
.secondary-grey nav.tm_navbar li.active > a {
  border-bottom: 6px solid #c4c4c4;
  color: #c4c4c4; }
.secondary-grey nav.tm_navbar li > a:hover {
  color: #c4c4c4;
  border-bottom: 6px solid #c4c4c4; }
.secondary-grey .nav .open > a,
.secondary-grey .nav .open > a:hover,
.secondary-grey .nav .open > a:focus {
  border-color: #c4c4c4; }
.secondary-grey .theme-btn {
  color: #fff;
  background-color: #c4c4c4;
  border-color: #c4c4c4; }
.secondary-grey .btn-default:hover, .secondary-grey .btn-default:focus {
  color: #c4c4c4;
  background-color: #fff;
  border-color: #c4c4c4; }
.secondary-grey .btn-primary:hover, .secondary-grey .btn-primary:focus, .secondary-grey .btn-primary:active, .secondary-grey .btn-primary.active, .secondary-grey .open .btn-primary.dropdown-toggle {
  color: white;
  background-color: #c4c4c4;
  border-color: #c4c4c4; }
.secondary-grey .btn-primary {
  color: #c4c4c4;
  background-color: transparent;
  border: 1px solid #c4c4c4; }
.secondary-grey .hr span {
  background: #c4c4c4; }
.secondary-grey .theme-color {
  color: #c4c4c4; }
.secondary-grey .portlet-title {
  color: #c4c4c4; }
.secondary-grey .copyright {
  background-color: #c4c4c4; }
.secondary-grey .copyright p {
  color: #eee; }
.secondary-grey .copyright a {
  color: #eee; }

.secondary-maroon a:hover {
  color: maroon; }
.secondary-maroon h1.navbar-brand_ strong {
  background: maroon; }
.secondary-maroon nav.tm_navbar li.active > a {
  border-bottom: 6px solid maroon;
  color: maroon; }
.secondary-maroon nav.tm_navbar li > a:hover {
  color: maroon;
  border-bottom: 6px solid maroon; }
.secondary-maroon .nav .open > a,
.secondary-maroon .nav .open > a:hover,
.secondary-maroon .nav .open > a:focus {
  border-color: maroon; }
.secondary-maroon .theme-btn {
  color: #fff;
  background-color: maroon;
  border-color: maroon; }
.secondary-maroon .btn-default:hover, .secondary-maroon .btn-default:focus {
  color: maroon;
  background-color: #fff;
  border-color: maroon; }
.secondary-maroon .btn-primary:hover, .secondary-maroon .btn-primary:focus, .secondary-maroon .btn-primary:active, .secondary-maroon .btn-primary.active, .secondary-maroon .open .btn-primary.dropdown-toggle {
  color: white;
  background-color: maroon;
  border-color: maroon; }
.secondary-maroon .btn-primary {
  color: maroon;
  background-color: transparent;
  border: 1px solid maroon; }
.secondary-maroon .hr span {
  background: maroon; }
.secondary-maroon .theme-color {
  color: maroon; }
.secondary-maroon .portlet-title {
  color: maroon; }
.secondary-maroon .copyright {
  background-color: maroon; }
.secondary-maroon .copyright p {
  color: #999; }
.secondary-maroon .copyright a {
  color: #999; }

.secondary-orange a:hover {
  color: #ffa319; }
.secondary-orange h1.navbar-brand_ strong {
  background: #ffa319; }
.secondary-orange nav.tm_navbar li.active > a {
  border-bottom: 6px solid #ffa319;
  color: #ffa319; }
.secondary-orange nav.tm_navbar li > a:hover {
  color: #ffa319;
  border-bottom: 6px solid #ffa319; }
.secondary-orange .nav .open > a,
.secondary-orange .nav .open > a:hover,
.secondary-orange .nav .open > a:focus {
  border-color: #ffa319; }
.secondary-orange .theme-btn {
  color: #fff;
  background-color: #ffa319;
  border-color: #ffa319; }
.secondary-orange .btn-default:hover, .secondary-orange .btn-default:focus {
  color: #ffa319;
  background-color: #fff;
  border-color: #ffa319; }
.secondary-orange .btn-primary:hover, .secondary-orange .btn-primary:focus, .secondary-orange .btn-primary:active, .secondary-orange .btn-primary.active, .secondary-orange .open .btn-primary.dropdown-toggle {
  color: white;
  background-color: #ffa319;
  border-color: #ffa319; }
.secondary-orange .btn-primary {
  color: #ffa319;
  background-color: transparent;
  border: 1px solid #ffa319; }
.secondary-orange .hr span {
  background: #ffa319; }
.secondary-orange .theme-color {
  color: #ffa319; }
.secondary-orange .portlet-title {
  color: #ffa319; }
.secondary-orange .copyright {
  background-color: #ffa319; }
.secondary-orange .copyright p {
  color: #999; }
.secondary-orange .copyright a {
  color: #999; }

.secondary-purple a:hover {
  color: #553679; }
.secondary-purple h1.navbar-brand_ strong {
  background: #553679; }
.secondary-purple nav.tm_navbar li.active > a {
  border-bottom: 6px solid #553679;
  color: #553679; }
.secondary-purple nav.tm_navbar li > a:hover {
  color: #553679;
  border-bottom: 6px solid #553679; }
.secondary-purple .nav .open > a,
.secondary-purple .nav .open > a:hover,
.secondary-purple .nav .open > a:focus {
  border-color: #553679; }
.secondary-purple .theme-btn {
  color: #fff;
  background-color: #553679;
  border-color: #553679; }
.secondary-purple .btn-default:hover, .secondary-purple .btn-default:focus {
  color: #553679;
  background-color: #fff;
  border-color: #553679; }
.secondary-purple .btn-primary:hover, .secondary-purple .btn-primary:focus, .secondary-purple .btn-primary:active, .secondary-purple .btn-primary.active, .secondary-purple .open .btn-primary.dropdown-toggle {
  color: white;
  background-color: #553679;
  border-color: #553679; }
.secondary-purple .btn-primary {
  color: #553679;
  background-color: transparent;
  border: 1px solid #553679; }
.secondary-purple .hr span {
  background: #553679; }
.secondary-purple .theme-color {
  color: #553679; }
.secondary-purple .portlet-title {
  color: #553679; }
.secondary-purple .copyright {
  background-color: #553679; }
.secondary-purple .copyright p {
  color: #999; }
.secondary-purple .copyright a {
  color: #999; }

.secondary-red a:hover {
  color: #e60000; }
.secondary-red h1.navbar-brand_ strong {
  background: #e60000; }
.secondary-red nav.tm_navbar li.active > a {
  border-bottom: 6px solid #e60000;
  color: #e60000; }
.secondary-red nav.tm_navbar li > a:hover {
  color: #e60000;
  border-bottom: 6px solid #e60000; }
.secondary-red .nav .open > a,
.secondary-red .nav .open > a:hover,
.secondary-red .nav .open > a:focus {
  border-color: #e60000; }
.secondary-red .theme-btn {
  color: #fff;
  background-color: #e60000;
  border-color: #e60000; }
.secondary-red .btn-default:hover, .secondary-red .btn-default:focus {
  color: #fff;
  background-color: #e60000;
  border-color: #e60000; }
.secondary-red .btn-primary:hover, .secondary-red .btn-primary:focus, .secondary-red .btn-primary:active, .secondary-red .btn-primary.active, .secondary-red .open .btn-primary.dropdown-toggle {
  color: white;
  background-color: #e60000;
  border-color: #e60000; }
.secondary-red .btn-primary {
  color: #e60000;
  background-color: transparent;
  border: 1px solid #e60000; }
.secondary-red .hr span {
  background: #e60000; }
.secondary-red .theme-color {
  color: #e60000; }
.secondary-red .portlet-title {
  color: #e60000; }
.secondary-red .btn-primary {
  color: #e60000;
  border: 1px solid #e60000; }
.secondary-red .copyright {
  background-color: #e60000; }
.secondary-red .copyright p {
  color: #bbb; }
.secondary-red .copyright a {
  color: #bbb; }

.secondary-yellow a:hover {
  color: #ffe800; }
.secondary-yellow h1.navbar-brand_ strong {
  background: #ffe800; }
.secondary-yellow nav.tm_navbar li.active > a {
  border-bottom: 6px solid #ffe800;
  color: #ffe800; }
.secondary-yellow nav.tm_navbar li > a:hover {
  color: #ffe800;
  border-bottom: 6px solid #ffe800; }
.secondary-yellow .nav .open > a,
.secondary-yellow .nav .open > a:hover,
.secondary-yellow .nav .open > a:focus {
  border-color: #ffe800; }
.secondary-yellow .theme-btn {
  color: #fff;
  background-color: #ffe800;
  border-color: #ffe800; }
.secondary-yellow .btn-default:hover, .secondary-yellow .btn-default:focus {
  color: #ffe800;
  background-color: #fff;
  border-color: #ffe800; }
.secondary-yellow .btn-primary:hover, .secondary-yellow .btn-primary:focus, .secondary-yellow .btn-primary:active, .secondary-yellow .btn-primary.active, .secondary-yellow .open .btn-primary.dropdown-toggle {
  color: white;
  background-color: #ffe800;
  border-color: #ffe800; }
.secondary-yellow .btn-primary {
  color: #ffe800;
  background-color: transparent;
  border: 1px solid #ffe800; }
.secondary-yellow .hr span {
  background: #ffe800; }
.secondary-yellow .theme-color {
  color: #ffe800; }
.secondary-yellow .portlet-title {
  color: #ffe800; }
.secondary-yellow .copyright {
  background-color: #ffe800; }
.secondary-yellow .copyright p {
  color: #bbb; }
.secondary-yellow .copyright a {
  color: #bbb; }

