html.aui .alert .close {
  background: inherit;
  border-width: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0; }
html.aui #_145_dockbarMessages {
  display: none; }
html.aui #layoutPrototypeTemplate {
  display: none; }
html.aui #_145_dockbar {
  padding: 0px;
  margin: 0px; }
html.aui .dockbar-split .dockbar {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: margin-left;
  -moz-transition-property: margin-left;
  -o-transition-property: margin-left;
  transition-property: margin-left; }
  html.aui .dockbar-split .dockbar .navbar {
    padding: 0px;
    margin: 0px; }
  html.aui .dockbar-split .dockbar .nav-collapse {
    display: block; }
  html.aui .dockbar-split .dockbar #_145_navAccountControlsNavbarCollapse {
    display: none; }
  html.aui .dockbar-split .dockbar #_145_navAccountControlsNavbarBtn {
    display: none; }
  html.aui .dockbar-split .dockbar #_145_navAddControlsNavbarBtn {
    display: none; }
  html.aui .dockbar-split .dockbar #_145_navSiteNavigationNavbarBtn {
    display: none; }
  html.aui .dockbar-split .dockbar #_145_navSiteNavigationNavbarCollapse {
    display: none; }
  html.aui .dockbar-split .dockbar .navbar-inner .nav-add-controls {
    background: #FFF;
    bottom: 0;
    margin-left: -80px;
    top: 0;
    padding-top: 140px;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: margin-left;
    -moz-transition-property: margin-left;
    -o-transition-property: margin-left;
    transition-property: margin-left; }
    html.aui .dockbar-split .dockbar .navbar-inner .nav-add-controls .dockbar-item {
      float: none; }
  html.aui .dockbar-split .dockbar .info-items a, html.aui .dockbar-split .dockbar .info-link-container a {
    background: transparent none; }
  html.aui .dockbar-split .dockbar .info-button .diamond {
    border-bottom-color: transparent;
    border-left-color: rgba(0, 0, 0, 0.5);
    right: -12px;
    top: 0; }
    html.aui .dockbar-split .dockbar .info-button .diamond:after {
      border-top-color: transparent; }
  html.aui .dockbar-split .dockbar .hide + .info-link-container .info-button .diamond {
    border-bottom-color: rgba(0, 0, 0, 0.5);
    border-left-color: transparent;
    right: 0;
    top: -12px; }
    html.aui .dockbar-split .dockbar .hide + .info-link-container .info-button .diamond:after {
      border-top-color: rgba(0, 0, 0, 0.5); }
  html.aui .dockbar-split .dockbar.navbar-static-top .collapse .nav-account-controls, html.aui .dockbar-split .dockbar .navbar-inner .container .nav-account-controls {
    top: 0;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: top;
    -moz-transition-property: top;
    -o-transition-property: top;
    transition-property: top; }
  html.aui .dockbar-split .dockbar .info-items {
    left: auto;
    position: relative;
    right: 0;
    top: 44px; }
    html.aui .dockbar-split .dockbar .info-items .page-customization-bar .page-customization-bar-text {
      height: 74px; }
    html.aui .dockbar-split .dockbar .info-items .btn-link {
      border-width: inherit;
      padding: 4px 12px;
      text-decoration: none;
      text-shadow: inherit; }
  html.aui .dockbar-split .dockbar .info-link-container {
    left: auto;
    position: relative;
    right: 0;
    top: 56px; }

.aui .dockbar-split.show-dockbar #wrapper, .aui .dockbar-split.show-dockbar .so-portlet-user-bar {
  border-left: 63px solid #fff;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: border-left;
  -moz-transition-property: border-left;
  -o-transition-property: border-left;
  transition-property: border-left; }
.aui .dockbar-split.show-dockbar .dockbar .navbar-inner .nav-add-controls {
  background: #fff;
  bottom: 0;
  margin-left: -15px;
  top: 0;
  padding-top: 140px; }
